<div>
  <label for="name">
    Store Name: <input id="name" v-live-text="name" autofocus></input>
  </label>
</div>
<div>
  <label for="description">
    Store Description: <textarea id="description" v-live-text="html"></textarea>
  </label>
</div>
<ul>
  <li v-repeat="fruits">
    <label for="fruit-{{$index}}-name">
      Fruit: <input id="fruit-{{$index}}-name" v-live-text="name">
    </label>
    <label for="fruit-{{$index}}-cost">
      Cost: <input id="fruit-{{$index}}-cost" v-live-text="cost">
    </label>
    <button v-on="click : removeItem(fruits.indexOf(this.$data))">Remove</button>
  </li>
</ul>
<div>
  <button v-on="click : addItem">Add Fruit</button>
</div>
<hr />
<cr-output></cr-output>